body{
    background: linear-gradient(150deg, #50379B ,#b736b9);
    height: 98vh; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: auto;
}


/*Diseño general de botones*/
button:hover{
    background-color:rgb(114, 63, 161);
    transition: 0.5s;
}
button{
    background-color: rgb(119, 30, 146);
    color: rgb(255, 255, 255);
    box-shadow: 3px 3px 0px #000;
    border: 0px;
}
.btn-inicio{
    padding:15px 35px;
    margin-top: 10px;
    border-radius: 5px; 
    font-weight: 800px;
}
button a{
    color: #ffffff;
    text-decoration: none;
}

.btn-bck{   
    padding:15px 35px;
    border: 0px;
    margin-top: 10px;
    border-radius: 5px; 
    font-weight: 500;
    text-decoration: none;
}
.btn-bck:hover{
    background-color:rgb(114, 63, 161);
    transition: 0.5s;
}
.btn-bck a{
    color: #ffffff;
    text-decoration: none;
}
.btnlogout{
    padding:15px 40px;
    border: 0px;
    margin-top: 10px;
    border-radius: 5px; 
    font-weight: 800px;
    margin-left: 20px;
}
/*Diseño general de botones*/
/*Diseño de carrito*/
.cart{
    margin-top: 20px;
    position: fixed;
    border-radius: 100px;
    padding:10px ;
    right: 3%;
    background: linear-gradient(150deg, #a71c8f ,#8820b8);
}
.cart:hover{
 transition: 2s;
  background: linear-gradient(150deg, #b4369f ,#6e1c94);
}
/*Diseño de carrito*/



/*Diseño de El titulo de Inicio*/
.Container{
    align-items: center;
    background-color: rgb(38, 11, 56);
    
    border: 20px solid rgb(63, 10, 87);
    width: 96%;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
    font-style: oblique;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 5px 5px 0px #000;
}
/*Diseño de El titulo de Inicio*/

/*Diseño del Formulario de Inicio y Registro*/
.form{
    transform: translate(-50%, -50%);
    background-color: rgb(88, 29, 143);
    border-radius: 10px;
    position: absolute;
    color: #ffffff;
    width: 300px;    
    border: 1px solid rgb(0, 0, 0);
    text-shadow:
    1px 1px 0px #000;
    font-size: 16px;
    box-shadow: 5px 5px 0px #000;
}
.formreg{
    top: 50%;  
    font-style:normal;
    padding: 30px;
    margin-top: -10px;
    left: 50%;
}
.formlog{
    top: 60%; 
    font-style:normal;
    padding: 30px;
    margin-top: -10px;
    left: 50%; 
}

.titulo{
  margin-top: -80px;

   text-align: center;
   color: #c16ff8;
   font-size: 262px;
   font-style: oblique;  
   text-decoration: overline underline;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;     
   width: 100%;
 
}
.input{
    margin:45px;  
}

/*Diseño del Formulario de Inicio y Registro*/

/*adaptador de celular/pc*/
.container1{
max-width: 1400px;
margin: auto;
width: auto;
}

/*adaptador de celular/pc*/


/*Diseño de HOME*/
.barra{
    width: 100%;
    justify-content: space-between;
    background-color: #000;
    color: #ffffff;
    position:fixed;
    height: 100px;
    top: 0;
    right: 0;    
    box-shadow: #7a1f91 1px 5px 0px ; 

}
.barra a{
    font-weight: 600;
    color: aliceblue;
    text-decoration:none;
    font-size: 16px;
    margin: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.barra ul{
    margin-top: -70px;
    line-height: 50px;   
    float: right;   
    margin-right: -20px;
    width: 45%;
    display:flex inline-grid;
}

.barra a:hover{
    color: #a77ccf;
    transition: 0.5s;
}

.categorias{
    color: azure;
    background-color: aqua;
}   
#icono{
    float: left ;  
    display:flex;
}
#icono:hover{
    background-color: #2d1544;
    border-radius: 80px;
    transition:0.5s;
}

#tit{
    width: 300px;
    margin-top: -20px;   
    font-size: 30px;
    color: #ffffff;
    text-shadow: #aa31c2 3px 1px 0px;
    margin-left: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}
/*Diseño de HOME*/
/*Diseño de Cards*/
.carta{
    padding: 30px;
    margin: 30px;
    width: 210px;
    background-color: rgb(161, 81, 148);
    border-radius: 10px; 
    box-shadow: #000 5px 5px 0px;  
    display: grid inline;
}
.carta H6{
    padding: 15px;
    background-color: #f1b7ff;
    border-radius: 10px; 
    color: rgb(0, 0, 0);
}
.carta text{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
.btncard{
    width: 50%;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 14px;
}
.carta img{
    border-radius: 5px;
    box-shadow: #f1b7ff 10px 10px 0px ;  
    
}

.carta .btncard input{
    width: 50%;
    background-color: #333333;
    color: aliceblue;
}
/*Diseño de Cards*/

.container1 ul{
    margin-top: 100px;
}

#color{
    color: #a77ccf;
}

/*Diseño del Carro de Compras*/
.container2 {
    padding-top: 120px;
    display: flex inline-grid;
}
.Envdatos{    
    background-color:#333333;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 600;
    box-shadow: 5px 5px 0px #000;
    float: right;
    margin: 10px;    
    display: grid inline;
    margin-right: 3px;
    
}
.Envdatos input{
    margin: 10px;
}
.Envdatos button{
    display: grid flex;
    margin: 10px;
    background-color: #636262;
    border-radius: 5px;
    width: 50%;
    padding: 10px;  
}

.Envdatos button:hover{
    background-color: #4b4a4a;
}

.Comdatos{
    background-color:#333333;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    display: grid;
    color: aliceblue;
    font-weight: 600;
    box-shadow: 5px 5px 0px #000;
    float: left;
    display: flex inline;
    margin-left: -9px;
}
.Comdatos Label{
    margin: 10px;
    display:inline;
    width: 100%;

}
.Comdatos button{   
    margin: 10px;
    background-color: #636262;
    border-radius: 5px;
    padding: 10px;
  
}

.Comdatos button:hover{
    background-color: #4b4a4a;
}

.Envdatos input[type=number]::-webkit-inner-spin-button, 
.Envdatos input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*Diseño del Carro de Compras*/
